A5,,,,,
,,,,,
B5,,,,,
,,,,,
D6,,,,,
,,,,,
C6#,G3,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,D4,,,,
,,,,,
,F4#,,,,
,,,,,
A5,G4,,,,
,,,,,
B5,B4,,,,
,,,,,
D6,D5,,,,
,,,,,
E6,A3,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,E4,,,,
,,,,,
x,A4,C5#,E5,,
,,,,,
A5,,,,,
,,,,,
B5,,,,,
,,,,,
D6,,,,,
,,,,,
A6,B3,x,x,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,B4,D5,F5#,,
,,,,,
,,,,,
,,,,,
,B3,x,x,,
,,,,,
,F4#,,,,
,,,,,
G6,B4,,,,
,,,,,
F6#,B4,C5#,E5,,
,,,,,
,,,,,
,,,,,
F6#,,,,,
,,,,,
,B4,D4,F4#,,
,,,,,
,,,,,
,,,,,
A5,B4,x,x,,
,,,,,
B5,D4,,,,
,,,,,
D6,F4#,,,,
,,,,,
C6#,G3,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,D4,,,,
,,,,,
,F4#,,,,
,,,,,
A5,G4,,,,
,,,,,
B5,B4,,,,
,,,,,
D6,D5,,,,
,,,,,
E6,A3,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,E4,,,,
,,,,,
,A4,C5#,E5,,
,,,,,
F5#,,,,,
,,,,,
A5,,,,,
,,,,,
C6#,,,,,
,,,,,
B5,B3,x,x,,
,,,,,
,F4#,,,,
,,,,,
,B4,,,,
,,,,,
,C5#,,,,
,,,,,
,D5,,,,
,,,,,
,F5#,,,,
,,,,,
,B5,,,,
,,,,,
,D6,,,,
,,,,,
B6,x,,,,
,,,,,
,,,,,
,,,,,
x,,,,,
,,,,,
B4,,,,,
,,,,,
,,,,,
,,,,,
C5#,,,,,
,,,,,
D5,,,,,
,,,,,
A5,,,,,
,,,,,
G4,B4:1,F5#:2,G3,B3:1,D4:2
,,,,,
,,,,,
,,,,,
F5#,x,x,,,
,,,,,
E5,,,,,
F5#,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,A3,C4#,E4
,,,,,
,,,,,
,,,,,
E5,,,,,
,,,,,
F5#,,,,,
,,,,,
A5,,,,,
,,,,,
D5,,,,,
,,,,,
C5#,,,,,
,,,,,
D5,,,,,
,,,,,
C5#,,,B3,D4:1,F4#:2
,,,,,
,,,,,
,,,,,
C5#,,,,,
,,,,,
B4,,,,,
F4#,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,B3,D4,F4#
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
B4,,,,,
,,,,,
B4,,,,,
,,,,,
C5#,,,,,
,,,,,
D5,,,A3,C4#,F4#
,,,,,
A5,,,,,
,,,,,
F4#,B4:1,F5#:2,G3,x,x
,,,,,
,,,B3,,
,,,,,
F5#,x,x,D4,,
,,,,,
E5,,,,,
F5#,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,G3,B3,D4
,,,,,
,,,,,
,,,,,
,,,A3,C4#,E4
,,,,,
,,,,,
,,,,,
E5,,,,,
,,,,,
F5#,,,,,
,,,,,
A5,,,,,
,,,,,
F5#,,,,,
,,,,,
A5,,,F4#,x,x
,,,,,
D6,,,A4,,
,,,,,
C6#,,,B3,,
,,,,,
,,,D4,,
B5,,,,,
,,,F4#,,
,,,,,
F5#,,,B4,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
E5,,,,,
,,,,,
D5,F5#,,B3,,
,,,,,
,,,D4,,
,,,,,
D5,A5,,F4#,,
,,,,,
,,,A4,,
,,,,,
D5,F5#,B5,,,
,,,,,
,,,,,
,,,,,
D5,F5#,C6#,A3,C4#,
,,,,,
,,,,,
,,,,,
G4,B4:1,F5#:2,G3,x,
,,,,,
,,,B3,,
,,,,,
F5#,x,x,D4,,
,,,,,
E5,,,,,
F5#,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,G3,B3,D4
,,,,,
,,,,,
,,,,,
,,,A3,C4#,E4
,,,,,
,,,,,
,,,,,
E5,,,,,
,,,,,
F5#,,,,,
,,,,,
A5,,,,,
,,,,,
D5,,,,,
,,,,,
C5#,,,,,
,,,,,
D5,,,,,
,,,,,
C5#,,,B3,D4,F4#
,,,,,
,,,,,
,,,,,
C5#,,,,,
,,,,,
B4,,,,,
F4#,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,B3,x,x
,,,,,
,,,D4,,
,,,,,
x,,,F4#,,
,,,,,
B4,,,,,
,,,,,
,,,,,
,,,,,
C5#,,,C4#,,
,,,,,
D5,,,B3,,
,,,,,
A5,,,A3,,
,,,,,
G4,B4:1,F5#:2,G3,,
,,,,,
,,,B3,,
,,,,,
F5#,x,x,D4,,
,,,,,
E5,,,,,
F5#,,,,,
,,,,,
,,,,,
,,,,,
,,,,,
,,,G3,B3,D4
,,,,,
,,,,,
,,,,,
,,,A3,C4#,E4
,,,,,
,,,,,
,,,,,
E5,,,,,
,,,,,
F5#,,,,,
,,,,,
A5,,,,,
,,,,,
F5#,,,,,
,,,,,
A5,,,,,
,,,,,
D6,,,,,
,,,,,
C6#,,,B3,x,x
,,,,,
,,,D4,,
,,,,,
,,,F4#,,
,,,,,
,,,B4,,
,,,,,
,,,C5#,,
,,,,,
,,,D5,,
,,,,,
,,,F5#,,
,,,,,
,,,B5,,
,,,,,
B5,,,B3,,
,,,,,
,,,D4,,
,,,,,
,,,F4#,,
,,,,,
,,,B4,,
,,,,,
,,,D5,,
,,,,,
,,,B4,,
,,,,,
B5,,,F4#,,
,,,,,
,,,D4,,
,,,,,
C6#,,,B2,,
,,,,,
,,,F3#,,
,,,,,
,,,B3,,
,,,,,
,,,C4#,,
,,,,,
,,,D4,,
,,,,,
,,,F4#,,
,,,,,
,,,B4,,
,,,,,
,,,D5,,
